/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8c6060;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 50px;
    text-align: center;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    padding: 100px 0;
    color: white;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #6d2f2f;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

.hero button:hover {
    background-color: #9bc9b7;
}

.learn-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}

/* Login and Signup forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
